body {
    font-family: sans-serif;
}
.lorderon{
    text-decoration: underline;
}
.dota{
    text-decoration: underline;
}
.discord{
   text-decoration: underline;
}

nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 24px;
}
footer{
background-color: black;
position: absolute;
width: 960px;
height: 128px;

}
footer p {
    font-size: 20px;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px
}
main p{
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
font-size: 25px;
}
h1{
    text-align: center;
    margin-top: 50px;
}
p a{
    text-decoration: none;
    color: blue;
}
main img{
    border-left: 10px dotted black;
    margin-left: 60px;
    
}
